{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <h2>{{ title }}</h2>
    <p>{{ message }}</p>
    <br>
    <table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Tipo de Embarcacion</th>
        <th>Carga</th>
        <th>Costo</th>
        <th>Fecha de registro</th>
        <th>usuario que la registro</th>
    </tr>
    </thead>
        {% for ship in ships %}
            <tr>
                <td>{{ ship.nombre }}</td>
                <td> {{ ship.tipo }}</td>
                <td>{{ ship.carga }}</td>
                <td>{{ ship.costo }}</td>
                <td>{{ ship.fecha }}</td>
                <td>{{ ship.usuario }}</td>
            </tr>
        {% endfor %}
    </table>
    {% if link %}
        <a href="{{ link }}">{{ link_direction }}</a>
    {% endif %}

{% endblock %}