{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <br>
    <table class="table table-bordered table-hover table-inverse">
        <thead class="thead-inverse">
        <tr>
            <th>Nombre</th>
            <th>Tipo de Embarcacion</th>
            <th>Carga</th>
            <th>Costo</th>
            <th>compa&ntilde;ia </th>
        </tr>
        </thead>
        {% for ship in ships %}
            <tr>
                <td>{{ ship.nombre }}</td>
                <td> {{ ship.tipo }}</td>
                <td>{{ ship.carga }}</td>
                <td>{{ ship.costo }}</td>
                <td>{{ ship.company }}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="/"> back to home</a>

{% endblock %}