{% extends "layout.html" %}

{% block title %}Iniciar sesión{% endblock %}

{% block content %}

    <div class="row">
    <h2 class="col-xs-12 text-xs-center">Log in</h2>

    <div class="col-xs-12 col-md-4 offset-md-4 text-danger m-t-2">
        {% if message %}
            <h5>{{ message }}</h5>
        {% endif %}
    </div>

        <div class="col-xs-12 col-md-4 offset-md-4">
            <form method="post" action="{% url 'navega:login' %}" class="m-t-2">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group">
                        <label>{{ field.label_tag }}</label>
                        {{ field }}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            </form>
        </div>
    </div>

{% endblock %}