<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navega</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h3>Navegaci&oacute;n Veracruzana</h3>
    </div>
</div>
 <section class="container m-t-3 p-t-2">
     {% block content %}
     
     {% endblock %}
 </section>
<footer> hola soy un footer</footer>
</body>
</html>